.popup {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0008;
	z-index: 10;
}
.popup > .popup-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
}

.join-container {
	width: 300px;
	height: 600px;
}

.popup-close {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 45px;
	color: #eee;
}

.join-container > .div-wrapper {
	width: 80%;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.popup-container > .div-wrapper > h1 {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 25px;
	top: 30px;
}

.jl-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	top: 40px;
	margin-top: 15px;
}

.jl-input > label {
	font-size: 13px;
	color: #777;
}

.jl-input > input {
	width: 100%;
	border:1px solid #aaa;
	border-radius: 2px;
	height: 35px;
	padding: 0 5px;
	margin-top: 5px;
}

#join-canvas {
	position: relative;
	top: 70px;
	border:1px solid #ddd;
	border-radius: 5px;
}

#captcha {
	width: 100%;
	height: 35px;
	position: relative;
	top: 80px;
	border:1px solid #aaa;
	border-radius: 2px;
	text-align: center;
	padding: 0 10px;
}

.join-input {
	width: 100%;
	height: 40px;
	position: relative;
	top: 100px;
	background-color: #f7f7f7;
	border:1px solid #ddd;
	color: #666;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 2px;
}

#join_submit {
	width: 100%;
	height: 40px;
	outline: none;
	cursor: pointer;
	position: relative;
	top: 120px;
	border-radius: 2px;
	border:none;
	background-color: #479ee5;
	color: #fff;
}

#join_submit:hover {filter: brightness(105%);}

.join-popup {
	display: none;
}

.login-container {
	width: 300px;
	height: 320px;
}
.login-container > .div-wrapper {
	width: 80%;
	height: 100%;
	position: relative;
	display: flex;flex-direction: column;
	margin: 0 auto;
}

.login-container .div-wrapper h1 {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 25px;
	top: 30px;
}

#login_submit:hover {
	filter: brightness(105%);
}

#login_submit {
	width: 100%;
	height: 40px;
	outline: none;
	cursor: pointer;
	position: relative;
	top: 65px;
	border-radius: 2px;
	border:none;
	background-color: #479ee5;
	color: #fff;
}

.login-popup {
	display: none;
}

.screen {
	width: 100%;
	height: calc(100vh - 130px);
	background-color: #f7f7f7;
	position: relative;
}

.wm-list {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*background-color: #fff;*/
}

.wm-list > .div-wrapper::-webkit-scrollbar {
	display: none;
}

.wm-list > .div-wrapper {
	display: grid;
	grid-auto-rows: 400px;
	grid-gap: 10px;
	grid-template-columns: repeat(7,1fr);
	overflow-y: auto;
}

.wm-item {
	height: 400px;
	/*box-shadow: 1px 2px 3px 2px #0001;*/
	border:1px solid #ddd;
	position: relative;
	background-color: #fff;
	overflow: hidden;
}


.wm-item-top {
	width: 100%;height: 180px;
	position: relative;
	display: flex;
	border-bottom: 1px solid #ddd;
}

.wm-item-top > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wm-item-top::after {
	content: 'BEFORE';
    width: 80px;
    height: 30px;
    border-radius: 50px;
    top: 10px;
    left: 10px;
    background-color: #0006;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
}

.wm-item-top:hover::after {
	content: "AFTER";
}

.wm-item-top:hover > img:last-child {
	right: 0;
}

.wm-item-top > img:first-child {
	position: relative;
	left: 0;
}

.wm-item-top > img:last-child {
	position: absolute;
	transition: right .4s;
	right: -100%;
	background-color: #fff;
}

.wm-bottom {
	width: 100%;
	position: relative;
	height: calc(100% - 180px);
}

.wm-bottom > img {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    top: -35px;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.wm-bottom > .wm-item-user-info {
	text-align: center;
	position: relative;
	top: 50px;
	color: #333030;
	font-weight: 700;
	font-size: 13px;
}

.wm-bottom > .wm-item-user-info > span {
	text-decoration: underline;
	color: #666;
	font-weight: 500;
	margin-left: 2px;
	font-size: 12px;
}

.wm-item-know {
	position: relative;
	width: 85%;
	margin: 0 auto;
	height: 70px;
	overflow-y: auto;
	border:1px solid #ddd;
	padding: 3px;
	top: 45px;
	font-size: 13px;
	color: #333030;
}

.wm-item-know::-webkit-scrollbar {
	display: none;
}

.wm-item-star {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 50px;
	font-size: 14px;
	letter-spacing: -1px;
}

.wm-item-star > span {
	color: #000;
	letter-spacing: 0px;
	font-weight: bold;
	margin-left: 2px;
}

.star-yellow {
	color: #feca02;
}

.star-gray {
	color: #ccc;
}


.wm-item-btn {
	width: 85%;
	position: relative;
	top: 60px;
	margin: 0 auto;display: block;
	font-size: 12px;
	border:none;
	background-color: #479ee5;
	height: 30px;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	outline: none;
}

.wm-item-date {
	text-align: center;
    position: relative;
    top: 20px;
    color: #999;
    font-size: 11px;

}

.wm-item-btn:hover {
	filter: brightness(105%);
}

.wm-item.more {
	background-color: #479ee5;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
}

.wm-item.more:hover {
	filter: brightness(105%);
}

.warm-form-container {
	width: 400px;
	height: 420px;
}

.warm-form-container > .div-wrapper {
	width: 80%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

.warm-form-container > .div-wrapper > h1 {
	text-align: center;
	width: 100%;
	position: relative;
	color: #333030;
	font-size: 25px;
	top: 30px;
}

.warm-form-container > .div-wrapper > form {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.warm-form-container > .div-wrapper label {
	width: 100%;
	height: 50px;
	border:1px solid #aaa;
	background-color: #f7f7f7;
	border-radius: 3px;
	position: relative;
	top: 50px;
	margin-top: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666;
	font-size: 15px;
}

#know_input {
	width: 100%;
	height: 100px;
	resize: none;
	outline: none;
	padding: 10px;
	font-size: 15px;
	color: #333030;
	font-weight: 500;
	border:1px solid #aaa;
	border-radius: 3px;
	position: relative;
	top: 50px;
}

.warm-form-container > .div-wrapper input[type="file"] {
	display: none;
}

.warm-form-popup {
	display: none;
}

#form_btn {
	position: relative;
	top: 70px;
	width: 100%;
	height: 50px;
	cursor: pointer;
	border:none;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	background-color: #479ee5;
}

#form_btn:hover {
	filter: brightness(105%);
}

.warm-grade-container {
	width: 350px;
	height: 150px;
}
.warm-grade-container > .div-wrapper > h1 {
	font-size: 25px;
	color: #333030;
	position: relative;
	top: 30px;
	text-align: center;
}

.warm-btn-box {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 40px;
}

.warm-btn-box > button {
	border:none;
	background: none;
	display: flex;
	justify-content: center;
	outline: none;
	align-items: center;
	cursor: pointer;
}

.warm-btn-box > button > i {
	color: #feca02;
	font-size: 50px;
}

.warm-btn-box > button > span {
	color: #fff;
	position: absolute;
	font-size: 16px;
	font-weight: 700;
}

.warm-grade-popup {
	display: none;
}

.expt-list {
	/*width: calc(100% - 100px);*/
	width: 75%;
	margin: 0 auto;
	position: relative;
	top: 50px;
	height: 320px;
	display: flex;
	justify-content: space-between;
}

.expt-item {
	width: 250px;
	height: 100%;
	background-color: #fff;
	position: relative;
	perspective: 500px;
}

.expt-top {
	width: 100%;
	height: 200px;
}

.expt-top > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expt-bottom {
	width: 100%;
	height: calc(100% - 200px);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.expt-name {
	font-weight: bold;
	color: #333030;
	position: relative;
	top: 5px;
	font-size: 15px;
}

.expt-id {
	text-decoration: underline;
	color: #999;
	font-size: 13px;
	margin-top: 5px;
}

.expt-star {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 5px;
	font-size: 14px;
	letter-spacing: -1px;
}

.expt-star > span {
	color: #000;
	letter-spacing: 0px;
	font-weight: bold;
	margin-left: 2px;
}

.expt-btn {
	width: 85%;
	position: relative;
	top: 10px;
	margin: 0 auto;display: block;
	font-size: 12px;
	border:none;
	background-color: #479ee5;
	height: 35px;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	outline: none;	
}

.expt-btn:hover {
	filter: brightness(105%);
}

.exp-grade-container {
	width: 350px;
	height: 400px;
}

.exp-grade-container > .div-wrapper > form {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.exp-grade-container > .div-wrapper {
	width: 80%;
	margin: 0 auto;
	height: 100%;
}

.exp-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	top: 40px;
	margin-top: 15px;
}

.exp-input > label {
	font-size: 13px;
	color: #777;
}

.exp-input > input {
	width: 100%;
	border:1px solid #aaa;
	border-radius: 2px;
	height: 35px;
	padding: 0 10px;
	margin-top: 5px;
}

#exp_txtarea {
	width: 100%;
	resize: none;
	border:1px solid #aaa;
	padding: 10px;
	outline: none;
	height: 100px;
	position: relative;
	top: 60px;
}

#exp_grade {
	width: 100%;
	position: relative;
	top: 80px;
}

.exp_help {
	width: 100%;
	position: relative;
	top: 75px;
	display: flex;
	justify-content: space-between;
	color: #666;
	font-size: 17px;
}

#expt_submit {
	width: 100%;
	height: 40px;
	outline: none;
	cursor: pointer;
	position: relative;
	top: 100px;
	border-radius: 2px;
	border:none;
	background-color: #479ee5;
	color: #fff;
}

#expt_submit:hover {
	filter: brightness(105%);
}

.exp-grade-popup {
	display: none;
}

.er-table-box {
	width: 75%;height: 380px;
	position: relative;
	top: 80px;	
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	overflow-y: auto;
	margin: 0 auto;
}

.er-table-box::-webkit-scrollbar {
	display: none;
}

.er-table {
	position: relative;
	width: 100%;height: 100%;
	border:none;
	border-collapse: collapse;
}
.er-table > tbody > tr > th {
	border-bottom: 1px solid #aaa;
	height: 40px !important;
	color: #333030;
	font-weight: 500;
	font-size: 15px;
}

.er-table > tbody > tr {
	height: 40px;
}

.er-table > tbody > tr:not(:first-child) > td {
	font-size: 13px;
	text-align: center;
	height: 40px;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}

.er-table > tbody > tr:last-child > td {
	border-bottom: none;
}